body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url("img/background-img.jpg");
    background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
}

.navbar {
    background-color: var(--color-blue);
    text-align: center;
    padding: var(--padding-md);
  }
  .navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .navbar-li {
    margin-left:  var(--margin-xxl);
    margin-right: var(--margin-xxl);
    position: relative;
    text-align: center;
    
  }

  .navbar-ruby, .navbar-phyton, .navbar-main, .navbar-java, .navbar-javascript {
    text-decoration: none;
    color: var(--color-lightblue);
    font-size: var(--font-size-xl) !important ;
    display: block;
    
  }
  .navbar-ruby:hover, .navbar-phyton:hover, .navbar-main:hover, .navbar-java:hover, .navbar-javascript:hover {
    color: var(--color-darkblue);
  }

  .navbar-main{
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--font-size-xl) !important ;
    
    }

    .navbar-li>a{

text-align: center;
        display: flex;
        justify-content: center;
        font-weight: bold;
text-decoration: none;
    }
    .card-menu {
      width:var(--widht-6) ;
      height: var(--widht-5);
      margin: 10px;
      float: left;
      background-color: black;
      background-size: cover;
      text-align: center;
      color: rgb(0, 0, 0);
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 220px;
  }
  
  /* 
  
  padding: 10px 15px;
  
google fonts
  */