:root{
    --unit: 1rem;

    --font-size-xs: calc(0.5 * var(--font-size-md));
    --font-size-md: var(--unit);
    --font-size-xl: calc(1.5 * var(--font-size-md));
    --font-size-xxl: calc(2 * var(--font-size-md));

    --width-0: 0;
    --width-px: 1px;
    --widht-full: 100%;
    --widht-1: calc(0.25 * var(--widht-4)) ;
    --widht-2: calc(0.5 * var(--widht-4)) ;
    --widht-3: calc(0.75 * var(--widht-4)) ;
    --widht-4: var(--unit) ;

    
    --padding-xs: calc(0.5 * var(--padding-md));
    --padding-md: var(--unit);
    --padding-xl: calc(2 * var(--padding-md));
    --padding-xxl: calc(4 * var(--padding-md));

    --margin-xs: calc(0.5 * var(--margin-md));
    --margin-md: var(--unit);
    --margin-xl: calc(2 * var(--margin-md));
    --margin-xxl: calc(4 * var(--margin-md));
    
    --border-radius: calc( 2 * var(--unit)) ;

    --color-darkblue: rgb(77, 134, 156);
    --color-blue:rgb(122, 178, 178);
    --color-lightblue:rgb(205, 232, 229);
    --color-grayblue:rgb(238, 247, 255); 

}

/*            


--color-darkblue: rgb(77, 134, 156);
    --color-blue:rgb(122, 178, 178);
    --color-lightblue:rgb(205, 232, 229);
    --color-grayblue:rgb(238, 247, 255);

--color-darkblue: rgb(30, 3, 66);
    --color-blue:rgb(14, 70, 163);
    --color-lightblue:rgb(154, 200, 205);
    --color-grayblue:rgb(225, 247, 245);




*/