.title{
    font-size: var(--font-size-large);
    font-weight: 500;
    margin-bottom: var(--font-size-large);
}
.second-title{
    font-size: var(--font-size-xxl);
    font-weight: 500;
    margin-bottom: var(--font-size-large);
    margin-top: var(--font-size-large);
}
.third-title{
    font-size: var(--font-size-xl);
    font-weight: 500;
    margin-bottom: var(--font-size-large);
    margin-top: var(--font-size-md);
}
.progress-display{
    font-size: var(--font-size-md);
    margin-top: var(--font-size-large);
}
section{
    
}