table tr th {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    font-size: var(--font-size-xl) ;
}
table tr td  {
    border: 1px solid black;
    text-align: center;
    font-size: var(--font-size-xl) ;
}
table li{
    padding: 20px;
}
